@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@layer theme {
  :root {
    --roxo-escuro: #4A3F99;
    --azul-acinzentado: #3F4A70;
    --branco: #FFFFFF;
    --roxo-vibrante: #9B6FFF;
    --cinza-claro: #F5F6FA;
    --cinza-escuro: #2D3748;
    --fonte-principal: "Montserrat", sans-serif;
  }

  .dark {
    --cinza-claro: #1a202c;
    --cinza-escuro: #e2e8f0;
  }
}

@layer base {
  html {
    @apply font-(--fonte-principal) scroll-smooth transition-colors duration-300;
  }

  body {
    @apply bg-(--cinza-claro) text-(--cinza-escuro) transition-colors duration-300;
  }

}

* {
  @apply transition-colors duration-300;
}

.dark body {
  @apply bg-gray-800 text-gray-200; 
}

.dark input,
.dark select,
.dark textarea {
  @apply bg-gray-700 border-gray-600 text-white;
}

.dark input::placeholder,
.dark textarea::placeholder {
  @apply text-gray-400;
}